<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WindyLearning</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/js/navbar.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
<script> init_navbar(document) </script>
</body>

</html>