<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>theMaruf</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
                    <div class="view">

                    <ul class="breadcrumb">
                        <li>
                            <a href="#" contenteditable="true">Home</a>
                        </li>
                        <li>
                            <a href="#" contenteditable="true">Library</a>
                        </li>
                        <li class="active" contenteditable="true">Data</li>
                    </ul>

                </div>
				</div>
			</div>
            <div>
                <ul class="breadcrumb">
				<li>
					 <a href="#">资料</a>
				</li>
				<li>
					 <a href="#">文档</a>
				</li>
                <li>
					 <a href="#">量子力学思维</a>
				</li>
				<li class="active">
					《薛定谔的猫》
				</li>
            </div>

			<h2>
				薛定谔的猫
			</h2>
            <p>
				2019年9月20日
                <br />
                <br />
			</p>
			<p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薛定谔的猫（英文名称：Erwin Schrödinger's Cat）是奥地利著名物理学家薛定谔（Erwin Schrödinger, 1887年8月12日——1961年1月4日）提出的一个思想实验，是指将一只猫关在装有少量镭和氰化物的密闭容器里。镭的衰变存在几率，如果镭发生衰变，会触发机关打碎装有氰化物的瓶子，猫就会死；如果镭不发生衰变，猫就存活。根据量子力学理论，由于放射性的镭处于衰变和没有衰变两种状态的叠加，猫就理应处于死猫和活猫的叠加状态。这只既死又活的猫就是所谓的“薛定谔猫”。但是是不可能存在既死又活的猫，则必须在打开箱子后才知道结果。该实验试图从宏观尺度阐述微观尺度的量子叠加原理的问题，巧妙地把微观物质在观测后是粒子还是波的存在形式和宏观的猫联系起来，以此求证观测介入时量子的存在形式。随着量子物理学的发展，薛定谔的猫还延伸出了平行宇宙等物理问题和哲学争议。
			    <br />
            </p>
            <p>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据经典物理学，在盒子里必将发生这两个结果之一，而外部观测者只有打开盒子才能知道里面的结果。在量子的世界里，当盒子处于关闭状态，整个系统则一直保持不确定性的波态，即猫生死叠加。猫到底是死是活必须在盒子打开后，外部观测者观测时，物质以粒子形式表现后才能确定。这项实验旨在论证量子力学对微观粒子世界超乎常理的认识和理解，可这使微观不确定原理变成了宏观不确定原理，客观规律不以人的意志为转移，猫既活又死违背了逻辑思维。
			    <br />
                <br />
            </p>
			<ul class="nav nav-pills">
				<li class="active">
					 <a href="#"> <span class="badge pull-right">188</span> 顶</a>
				</li>
				<li>
					 <a href="#"> <span class="badge pull-right">5</span> 踩</a>
				</li>
			</ul>

			<h2>
				评论:
			</h2>
			<p>
				老王： 学习了，666~~~
			</p>
			<p>
				 <a class="btn" href="#">details »</a>
			</p>
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="#">Link</a>
						</li>
						<li>
							 <a href="#">Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="#">Action</a>
								</li>
								<li>
									 <a href="#">Another action</a>
								</li>
								<li>
									 <a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							 <a href="#">Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="#">Action</a>
								</li>
								<li>
									 <a href="#">Another action</a>
								</li>
								<li>
									 <a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
		</div>
	</div>
</div>
</body>

</html>