<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>theMaruf</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span
                            class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">WindyTech</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/home">首页</a>
                        </li>
                        <li>
                            <a href="/community">Windy 社区</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">全部课程<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">新人必读</a>
                                </li>
                                <li>
                                    <a href="#">技能提升</a>
                                </li>
                                <li>
                                    <a href="#">生活娱乐</a>
                                </li>
                                <li class="divider">
                                </li>
<!--                                <li>-->
<!--                                    <a href="#">Separated link</a>-->
<!--                                </li>-->
<!--                                <li class="divider">-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">One more separated link</a>-->
<!--                                </li>-->
                            </ul>
                        </li>

                    </ul>

                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/upload">文章上传</a>
                                </li>
                                <li>
                                    <a href="#">基本信息</a>
                                </li>
                                <li>
                                    <a href="#">个人收藏</a>
                                </li>
                                <li>
                                    <a href="#">浏览记录</a>
                                </li>
                                <li>
                                    <a href="#">账户设置</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="/">退出登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>

            </nav>
            <div class="u_fNK">
            </div>
            <div class="u_fNK">
                <div>
                    <div>
                        <div>
                            <div>
                                <div class="_5WizN _1QzSN">
                                    <div class="_3YmQx">
                                        <div class="_3QdKe">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel slide" id="carousel-917889">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-917889">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-917889">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-917889">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="" src="https://github.com/kubesphere/kubesphere/raw/master/docs/images/roadmap-2.0.2-en.png"/>
                        <div class="carousel-caption">
                            <h4>
                                Kubesphere 入门
                            </h4>
                            <p>KubeSphere is an enterprise-grade multi-tenant container management platform that built on Kubernetes. It provides an easy-to-use UI for users to manage computing resources with a few clicks, which reduces the learning curve and empowers the DevOps teams. It greatly reduces the complexity of the daily work of development, testing, operation and maintenance, aiming to alleviate the pain points of Kubernetes' storage, network, security and ease of use, etc.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="/assets/images/image2.jpg"/>
                        <div class="carousel-caption">
                            <h4>
                                    云平台支持主机类型的切换
                            </h4>
                            <p>
                                    不同类型的主机在性能、可挂载硬盘类型、配置支持类型上都有所差别，为了给用户提供更加适用、灵活的云主机管理能力，云平台推出「支持主机类型切换」的功能。
                            </p>
                        </div>
                    </div>
                    <div class="item  active">
                        <img alt="" src="https://pic3.zhimg.com/v2-1e2699da4dddbc8d07a2d8f223ab2904_1200x500.jpg"/>
                        <div class="carousel-caption">
                            <h4>
                                    给伸手党的福利：Python 新手入门引导
                            </h4>
                            <p>
                                    这是一篇 Python 入门指南，针对那些没有任何编程经验，从零开始学习 Python 的同学。不管你学习的出发点是兴趣驱动、拓展思维，还是工作需要、想要转行，都可以此文作为一个参考。
                                    在这个信息爆炸的时代，以 “Python入门” 为关键字搜索出的结果成千上万。不少小白选手难免会东一榔头西一棒槌，最终看了很多文章，却仍没跨过新手那道门槛。
                                    结合自身的学习经验以及与很多自学者的沟通了解，我们整理出一条可操作性较强的自学路线，同时收集了多种形式的 Python 优质学习资源，供诸位尚未入门或刚入门不久的同学参考。
                            </p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-917889"
                   data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a> <a
                    class="right carousel-control" href="#carousel-917889"
                    data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                </div>
            </div>
            <div class="row clearfix" style="margin: 10px"></div>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <ul class="nav nav-pills">
                                <li class="disabled">
                                    <a href="#"><h3>新人必读</h3></a>
                                </li>
                                <li class="disabled pull-right">
                                    <a href="#"><h3>查看更多</h3></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/Thumbnail1.jpg"/>
                                <div class="caption">
                                    <h3>
                                        Thumbnail label
                                    </h3>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Donec id elit non mi porta gravida at
                                        eget metus. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/Thumbnail1.jpg"/>
                                <div class="caption">
                                    <h3>
                                        Thumbnail label
                                    </h3>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Donec id elit non mi porta gravida at
                                        eget metus. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/Thumbnail1.jpg"/>
                                <div class="caption">
                                    <h3>
                                        Thumbnail label
                                    </h3>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Donec id elit non mi porta gravida at
                                        eget metus. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <ul class="nav nav-pills">
                                <li class="disabled">
                                    <a href="#"><h3>技能提升</h3></a>
                                </li>
                                <li class="disabled pull-right">
                                    <a href="#"><h3>查看更多</h3></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/Thumbnail1.jpg"/>
                                <div class="caption">
                                    <h3>
                                        Thumbnail label
                                    </h3>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Donec id elit non mi porta gravida at
                                        eget metus. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/Thumbnail1.jpg"/>
                                <div class="caption">
                                    <h3>
                                        Thumbnail label
                                    </h3>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Donec id elit non mi porta gravida at
                                        eget metus. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/Thumbnail1.jpg"/>
                                <div class="caption">
                                    <h3>
                                        Thumbnail label
                                    </h3>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Donec id elit non mi porta gravida at
                                        eget metus. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <ul class="nav nav-pills">
                                <li class="disabled">
                                    <a href="#"><h3>生活娱乐</h3></a>
                                </li>
                                <li class="disabled pull-right">
                                    <a href="#"><h3>查看更多</h3></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/Thumbnail1.jpg"/>
                                <div class="caption">
                                    <h3>
                                        Thumbnail label
                                    </h3>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Donec id elit non mi porta gravida at
                                        eget metus. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/Thumbnail1.jpg"/>
                                <div class="caption">
                                    <h3>
                                        Thumbnail label
                                    </h3>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Donec id elit non mi porta gravida at
                                        eget metus. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/Thumbnail1.jpg"/>
                                <div class="caption">
                                    <h3>
                                        Thumbnail label
                                    </h3>
                                    <p>
                                        Cras justo odio, dapibus ac facilisis in, egestas
                                        eget quam. Donec id elit non mi porta gravida at
                                        eget metus. Nullam id dolor id nibh ultricies
                                        vehicula ut id elit.
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>