<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Windy</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/js/navbar.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
<script> init_navbar(document) </script>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel slide" id="carousel-917889">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-917889">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-917889">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-917889">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="" src="https://github.com/kubesphere/kubesphere/raw/master/docs/images/roadmap-2.0.2-en.png"/>
                        <div class="carousel-caption">
                            <h4>
                                Kubesphere 入门
                            </h4>
                            <p>KubeSphere is an enterprise-grade multi-tenant container management platform that built on Kubernetes. It provides an easy-to-use UI for users to manage computing resources with a few clicks, which reduces the learning curve and empowers the DevOps teams. It greatly reduces the complexity of the daily work of development, testing, operation and maintenance, aiming to alleviate the pain points of Kubernetes' storage, network, security and ease of use, etc.
                            </p>
                        </div>
                    </div>
                    <div class="item active">
                        <a href="/video"><img alt="" src="/assets/images/earth.jpg"/></a>
                        <div class="carousel-caption">
                            <h4>
                                    宇宙之谜
                            </h4>
                            <a></a>
                            <p>
                                    显而易见，任何一种结局都在预示着生命的消亡。不过，人类的最终命运还无法确定。因为目前，人们尚不能对扩张和万有引力做出精确的估测，更不知道谁将是最后的胜利者。
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="/assets/images/cheats.jpg"/>
                        <div class="carousel-caption">
                            <h4>
                                    给伸手党的福利：Python 新手入门引导
                            </h4>
                            <p>
                                    这是一篇 Python 入门指南，针对那些没有任何编程经验，从零开始学习 Python 的同学。不管你学习的出发点是兴趣驱动、拓展思维，还是工作需要、想要转行，都可以此文作为一个参考。
                                    在这个信息爆炸的时代，以 “Python入门” 为关键字搜索出的结果成千上万。不少小白选手难免会东一榔头西一棒槌，最终看了很多文章，却仍没跨过新手那道门槛。
                                    结合自身的学习经验以及与很多自学者的沟通了解，我们整理出一条可操作性较强的自学路线，同时收集了多种形式的 Python 优质学习资源，供诸位尚未入门或刚入门不久的同学参考。
                            </p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-917889"
                   data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a> <a
                    class="right carousel-control" href="#carousel-917889"
                    data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                </div>
            </div>
            <div class="row clearfix" style="margin: 10px"></div>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <ul class="nav nav-pills">
                                <li class="disabled">
                                    <a href="#"><h3>新人必读</h3></a>
                                </li>
                                <li class="disabled pull-right">
                                    <a href="#"><h3>查看更多</h3></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/introduction.jpeg"/>
                                <div class="caption">
                                    <h3>
                                        入门知识
                                    </h3>
                                    <p>
                                        为新员工提供入门知识，供新员工快速熟悉和适应环境
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/process.jpeg"/>
                                <div class="caption">
                                    <h3>
                                        开发流程
                                    </h3>
                                    <p>
                                        介绍公司一般的开发流程，适用于ws、fg、boss等代码的开发，供新人进行学习参考。
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/vpn.jpeg"/>
                                <div class="caption">
                                    <h3>
                                        公司内部-vpn-访问方式
                                    </h3>
                                    <p>
                                        公司内部分服务需要连接vpn进行访问。公司的vpn基于openvpn搭建，需要安装openvpn客户端以完成连接。

                                        由公司IT部门提供的vpn文档为：OpenVpn客户端配置说明.pdf

                                        本文根据安装实际情况做了一些详细的说明。
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <ul class="nav nav-pills">
                                <li class="disabled">
                                    <a href="#"><h3>技能提升</h3></a>
                                </li>
                                <li class="disabled pull-right">
                                    <a href="#"><h3>查看更多</h3></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/golang.png"/>
                                <div class="caption">
                                    <h3>
                                            Go入门指南
                                    </h3>
                                    <p>
                                            如果你喜欢本书 《Go入门指南》，你可以参与到本书的翻译或纠正工作中来，具体请联系【无闻 E-mail：u#gogs.io】，一同完善本书并帮助壮大 Go 语言在国内的学习群体，给大家提供更好的学习资源。
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="/golang">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/tcp"/>
                                <div class="caption">
                                    <h3>
                                            Linux 网络编程——TCP编程
                                    </h3>
                                    <p>
                                            TCP（Transmission Control Protocol 传输控制协议）是一种面向连接的、可靠的、基于字节流的传输层通信协议。
                                            TCP 具有以下特点： 
                                            1）电话系统服务模式的抽象
                                            
                                            2）每一次完整的数据传输都要经过建立连接、使用连接、终止连接的过程
                                            
                                            3）可靠、出错重传、且每收到一个数据都要给出相应的确认，保证数据传输的可靠性
            
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/k8s.png"/>
                                <div class="caption">
                                    <h3>
                                            Kubernetes
                                    </h3>
                                    <p>
                                            Kubernetes 是 Google 团队发起并维护的基于 Docker 的开源容器集群管理系统，它不仅支持常见的云平台，而且支持内部数据中心。建于 Docker 之上的 Kubernetes 可以构建一个容器的调度服务，其目的是让用户透过 Kubernetes 集群来进行云端容器集群的管理，而无需用户进行复杂的设置工作。系统会自动选取合适的工作节点来执行具体的容器集群调度处理工作。其核心概念是 Container Pod。一个 Pod 由一组工作于同一物理工作节点的容器构成。这些组容器拥有相同的网络命名空间、IP以及存储配额，也可以根据实际情况对每一个 Pod 进行端口映射。此外，Kubernetes 工作节点会由主系统进行管理，节点包含了能够运行 Docker 容器所用到的服务。
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 column">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <ul class="nav nav-pills">
                                <li class="disabled">
                                    <a href="#"><h3>生活娱乐</h3></a>
                                </li>
                                <li class="disabled pull-right">
                                    <a href="#"><h3>查看更多</h3></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/zelda.jpg"/>
                                <div class="caption">
                                    <h3>
                                            《塞尔达传说荒野之息》全神庙位置地图一览
                                    </h3>
                                    <p>
                                            《塞尔达传说荒野之息》中有很多的神庙，有的神庙比较隐蔽，很多玩家不知道这些神庙都在什么地方，下面为大家带来了《塞尔达传说荒野之息》全神庙位置地图一览，希望对你们有所帮助。
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/cat.webp"/>
                                <div class="caption">
                                    <h3>
                                            如何撸猫？你爽它也爽
                                    </h3>
                                    <p>
                                            铲屎官们都期待自家的猫咪，温顺乖巧，尤其是在自己忙碌一天，想休息一下，撸个猫解个乏的时候，更是期待喵主子能多多配合。

                                            大多数时候，主子虽然有些不乐意，但出于“懒得计较”的心态，都会顺从的让你摸摸。
                                            
                                            不过，也有例外的时候，尤其是一些初接触猫咪，不懂猫咪习性的萌新，不小心很容易触怒猫咪，“引火上身”。
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/jingzhui.webp"/>
                                <div class="caption">
                                    <h3>
                                            程序员颈椎病康复指南
                                    </h3>
                                    <p>
                                            康复操可改善患者颈部的血液循环，松解粘连和痉挛的软组织。无颈椎病者可起到预防作用。姿势：两脚分开与肩同宽，两臂自然下垂，全身放松，两眼平视，均匀呼吸，站坐均可。

                                            左顾右盼: 头先向左后向右转动，幅度宜大，以自觉酸胀为好，30次。
                                            前后点头: 头先前再后，前俯时颈项尽量前伸拉长，30次。
                                            旋肩舒颈: 双手置两侧肩部，掌心向下，两臂先由后向前旋转20—30次，再由前向后旋转20—30次。
                                            摇头晃脑: 头向左一前一右一后旋转5次，再反方向旋转5次。
                                            头手相抗: 双手交叉紧贴后颈部，用力顶头颈，头颈则向后用力，互相抵抗5次。
                                            双手托天: 双手上举过头，掌心向上，仰视手背5秒钟。 腰椎要注意不要用力,每天轻微活动数下,可以买一把按摩椅每天做腰脊按摩两次,每次20分钟，会有收效的
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">不感兴趣</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>