<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Windy</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/js/navbar.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

</head>





<body>
<script> init_navbar(document) </script>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">

                <h3>
                    直播小讲堂: 学校扼杀创造力
                </h3>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <video width="550" height="500" controls>
                          <source src="http://mov.bn.netease.com/mobilev/2012/12/9/L/S8H1R2D9L.mp4" type="video/mp4">
<!--                          <source src="movie.ogg" type="video/ogg">-->
                        您的浏览器不支持Video标签。
                        </video>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3>
                            讲师简介：
                        </h3>
                        <p>
                            全球教育改革中的传奇人物——肯·罗宾逊（Ken Robinson）教授，通过一番幽默生动的且引人深思的演讲，为我们讲述了学校是如何扼杀创造力以及教育改革的必要性。
                            <br />
                            肯·罗宾逊还提出培养好学生的三个原则：多样化、充满活力和个性化，每个学校都应该充分发挥自己的创造力，而不是为了应对整个教育制度，不得不将自己的天赋给抹杀掉。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <h3>
                            交流互动专区
                        </h3>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span style="background:#00ff00;">&nbsp;&nbsp;</span>
                        <span>在线人数: 50</span>
                    </div>
                    <div class="panel-body">
                      Tom: 老师，听不清，大点声~~~ <br />
                      <br />
                      Ulrica:  Robinson老师威武~~~ <br />
                      <br />
                      Amaya:  Robinson老师威武~~~ <br />
                      <br />
                      Muse:  Robinson老师威武~~~ <br />
                      <br />
                      Esme:  Robinson老师威武~~~ <br />
                      <br />
                      Deirdre: 老师，能讲一下量子纠缠理论吗？ <br />
                      <br />
                    </div>
                    <div class="panel-footer">
                        <textarea cols="77" rows="3" placeholder="请输入……"></textarea>
                    </div>
                </div> <button type="button" class="btn btn-default btn-block btn-primary">发送消息</button>
            </div>
        </div>
    </div>
</body>

</html>