
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Windy</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/js/navbar.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
<script> init_navbar(document) </script>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			
			<ul class="breadcrumb">
				<li>
					 <a href="#">主页</a>
				</li>
				<li class="active">
					 个人中心
				</li>
			</ul>
			<div class="tabbable" id="tabs-903925">
				<ul class="nav nav-tabs">
					<li class="active">
						 <a href="#panel-828926" data-toggle="tab">基本信息</a>
					</li>
					<li>
						 <a href="#panel-94255" data-toggle="tab">个人收藏</a>
					</li>
					<li>
						 <a href="#panel-94256" data-toggle="tab">浏览历史</a>
					</li>
					<li>
						 <a href="#panel-94257" data-toggle="tab">帐户设置</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-828926">
					</br>
					<div class="col-md-12 column" style="margin: 0 auto">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								 <label for="labelName" class="col-sm-2 control-label">个人头像:</label>
								<div class="col-sm-10">
									<img alt="140x140" src="/assets/images/cat.jpg" class="site-author-image" />
								</div>
							</div>
							<div class="form-group">
								 <label for="labelName" class="col-sm-2 control-label">登陆帐号:</label>
								<div class="col-sm-10">
									<label for="labelName1" class="col-sm-2 control-label">admin@yunify</label>
								</div>
							</div>
							<div class="form-group">
								 <label for="labelName" class="col-sm-2 control-label">姓名:</label>
								<div class="col-sm-10">
									<label for="labelName1" class="col-sm-2 control-label">张三</label>
								</div>
							</div>
							<div class="form-group">
								 <label for="labelName" class="col-sm-2 control-label">部门:</label>
								<div class="col-sm-10">
									<label for="labelName1" class="col-sm-2 control-label">研发部</label>
								</div>
							</div>
						</form>
					</div>
					</div>
					<div class="tab-pane" id="panel-94255">
					</br>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/golang.png"/>
                                <div class="caption">
                                    <h3>
                                            Go入门指南
                                    </h3>
                                    <p>
                                            如果你喜欢本书 《Go入门指南》，你可以参与到本书的翻译或纠正工作中来，具体请联系【无闻 E-mail：u#gogs.io】，一同完善本书并帮助壮大 Go 语言在国内的学习群体，给大家提供更好的学习资源。
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a> <a
                                            class="btn" href="#">取消收藏</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

					</div>
					<div class="tab-pane" id="panel-94256">
					</br>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/golang.png"/>
                                <div class="caption">
                                    <h3>
                                            Go入门指南
                                    </h3>
                                    <p>
                                            如果你喜欢本书 《Go入门指南》，你可以参与到本书的翻译或纠正工作中来，具体请联系【无闻 E-mail：u#gogs.io】，一同完善本书并帮助壮大 Go 语言在国内的学习群体，给大家提供更好的学习资源。
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/zelda.jpg"/>
                                <div class="caption">
                                    <h3>
                                            《塞尔达传说荒野之息》全神庙位置地图一览
                                    </h3>
                                    <p>
                                            《塞尔达传说荒野之息》中有很多的神庙，有的神庙比较隐蔽，很多玩家不知道这些神庙都在什么地方，下面为大家带来了《塞尔达传说荒野之息》全神庙位置地图一览，希望对你们有所帮助。
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <img alt="300x200" src="/assets/images/jingzhui.webp"/>
                                <div class="caption">
                                    <h3>
                                            程序员颈椎病康复指南
                                    </h3>
                                    <p>
                                            康复操可改善患者颈部的血液循环，松解粘连和痉挛的软组织。无颈椎病者可起到预防作用。姿势：两脚分开与肩同宽，两臂自然下垂，全身放松，两眼平视，均匀呼吸，站坐均可。

                                            左顾右盼: 头先向左后向右转动，幅度宜大，以自觉酸胀为好，30次。
                                            前后点头: 头先前再后，前俯时颈项尽量前伸拉长，30次。
                                            旋肩舒颈: 双手置两侧肩部，掌心向下，两臂先由后向前旋转20—30次，再由前向后旋转20—30次。
                                            摇头晃脑: 头向左一前一右一后旋转5次，再反方向旋转5次。
                                            头手相抗: 双手交叉紧贴后颈部，用力顶头颈，头颈则向后用力，互相抵抗5次。
                                            双手托天: 双手上举过头，掌心向上，仰视手背5秒钟。 腰椎要注意不要用力,每天轻微活动数下,可以买一把按摩椅每天做腰脊按摩两次,每次20分钟，会有收效的
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#">查看全文</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
					</div>
					<div class="tab-pane" id="panel-94257">
					</br>
					<div class="col-md-12 column">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								 <label for="inputPassword3" class="col-sm-2 control-label">当前密码</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="inputPassword1" />
								</div>
							</div>
							<div class="form-group">
								 <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="inputPassword2" />
								</div>
							</div>
							<div class="form-group">
								 <label for="inputPassword3" class="col-sm-2 control-label">密码确认</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="inputPassword3" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									 <button type="submit" class="btn btn-default">提交</button>
								</div>
							</div>
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<html>
