<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Windy</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/js/navbar.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
<script> init_navbar(document) </script>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
                    <div class="view">

<!--                    <ul class="breadcrumb">-->
<!--                        <li>-->
<!--                            <a href="#" contenteditable="true">Home</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#" contenteditable="true">Library</a>-->
<!--                        </li>-->
<!--                        <li class="active" contenteditable="true">Data</li>-->
<!--                    </ul>-->

                </div>
				</div>
			</div>
            <div>
                <ul class="breadcrumb">
				<li>
					 <a href="#">资料</a>
				</li>
				<li>
					 <a href="#">视频</a>
				</li>
				<li class="active">
					《宇宙之谜》
				</li>
            </div>

            <video width="1100" height="550" controls>
                  <source src="http://mov.bn.netease.com/open-movie/nos/mp4/2017/02/06/SCBLNOCTF_shd.mp4" type="video/mp4">
<!--                          <source src="movie.ogg" type="video/ogg">-->
                           您的浏览器不支持Video标签。
            </video>
			<ul class="nav nav-pills">
				<li class="active">
					 <a href="#"> <span class="badge pull-right">88</span> 顶</a>
				</li>
				<li>
					 <a href="#"> <span class="badge pull-right">6</span> 踩</a>
				</li>
			</ul>

			<h2>
				评论:
			</h2>
			<p>
				数量：128
				<br />
			</p>
			<p>
				<br />
				老王： 这个课程太有用了，666~~~
			</p>
			<p>
				 <a class="btn" href="#">details</a>
			</p>
		</div>
	</div>
</div>
</body>

</html>